.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.header__link{
	color: white;
	padding: 5px;
	margin-right: 5px;
}

.header__right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__location{
	text-transform: uppercase;
}

.header__link.-loc.-blue{
	color: var(--blue)
}

@media screen (max-width: 767px){
	
}