.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	padding: 0 30px;
}

.header__link{
	color: white;
	padding: 5px;
	margin-right: 5px;
}

.header__link.-apply {
	display: none;
}

.header__right{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__location{
	text-transform: uppercase;
}

.header__link.-loc.-blue{
	color: var(--blue);
}

.triangle{
	display: none;
}

@media screen and (max-width: 849px) {
	.header__links {
		display: none;
	}

	.header__link.-apply {
		display: block;
	}
		
	.triagle{
		position: absolute;
		top: 50px;
		left: 265px;
		border: 4px solid transparent; 
		border-top: 4px solid white;
		width: 2px;
		height: 2px;
		margin: 0;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0 15px;
	}

	.header__location {
		display: none;
	}
}

@media screen and (max-width: 435px){
	.header__link.-loc.-blue, .triagle{
		display: none;
	}

	.header__links{
		display: none;
	}
}