.move{
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.move__container{
	display: flex;
	width: 60%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.container.-move{
	display: flex;
	justify-content: space-between;
	align-items: center;
<<<<<<< HEAD
=======
	justify-content: space-between;
	min-width: 666px;
	max-width: 666px;
>>>>>>> master
}

.move__block{
	width: 45%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
<<<<<<< HEAD
	justify-content: center;
	width: 250px;
	height: 222px;
=======
	padding: 30px;
>>>>>>> master
	background: #FFFFFF;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
	margin-bottom: 60px;
}

.move__title{
	width: 50%;
	font-weight: bold;
	font-size: 30px;
}

.block__title{
	margin-top: 20px;
	color: var(--blue);
	font-size: 28px;
	margin-bottom: 20px;
	margin-right: 50px;
}

.block__sub{
	color: #636363;
	font-weight: normal;
	font-size: 16px;
}

.move__info{
	font-size: 28px;
}

@media screen and (max-width: 849px){
	.move{
		flex-direction: column;
		margin-top: -300px;
	}

	.move__block{
		width: 250px;
		margin-right: 40px;
	}

	.move__title{
		width: calc(100% - 30px);
		margin-top: 650px;
	}

	.move__info{
		font-size: 22px;
	}

	.move__container{
		width: 80%;
	}
}

@media screen and (max-width: 435px){
	.move{
		margin-top: -30px;
	}

	.move__info{
		width: calc(100% - 40px);
		font-size: 30px;
		margin: 0;
	}

	.move__title{
		width: calc(100% - 60px);
	}

	.move__block{
		width: calc(100% - 10px);
		margin-right: 0;
	}

	.move__info{
		font-size: 20px;
	}
}