.what{
	position: relative;
}

.what__blocks{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px
}

.what__circle{
	position: absolute;
	border-radius: 50%;
	width: 125px;
	height: 125px;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
	opacity: 0.1;	
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	top: 120px;
	right: 80px;
}

.what__circle__two{
	position: absolute;
	border-radius: 50%;
	width: 89px;
	height: 89px;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	filter: blur(10px);
	top: 139px;
	right: 96px;
}

.what__container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.what__left{
	display: flex;
	flex-wrap: wrap;
}

.what__block{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 300px;
	height: 250px;
	margin-right: 50px;	
}

.what__title{
	text-align: center;
}

.what__look{
	text-decoration: none;
}

.what__right{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 330px;
	height: 212px;
	background: #FFFFFF;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
}

.what__block__title{
	color: var(--blue);
	font-size: 20px;
}

.what__look{
	color: var(--blue);
	margin-left: 145px;
}

.what__title{
	text-align: left;
	margin-left: 160px;
}

@media screen and (max-width: 849px){
	.what{
		height: 800px;
	}

	.what__container{
		width: calc(100% - 10px);
		justify-content: space-between;
	}	

	.what__right{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	.what__left{
		width: 100%;
	}

	.what__block{
		width: 50%;
	}

	.what__look{
		position: absolute;
		bottom: 90px;
		left: -90px;
		font-size: 20px;
	}

	.what__circle{
		top: 550px;
		right: 10px;
	}

	.what__circle__two{
		top: 572px;
		right: 27px;
	}
}

@media screen and (max-width: 435px){
	.what__title{
		position: absolute;
		right: 50px;
	}

	.what{
		margin-top: 140px;
		height: auto;
	}

	.what__block{
		width: calc(100% - 20px);
	}

	.what__circle, .what__circle__two{
		display: none;
	}

	.what__right{
		bottom: -150px;
	}

	.what__look{
		bottom: -190px;
	}
}