.what__circle{
	width: 125px;
	height: 125px;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
	opacity: 0.1;	
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
}